/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: sans-serif;
    background-color: rgb(209, 208, 206);
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font: inherit;
    cursor: pointer;
}

img {
    width: 100%;

}
/* END OF CSS RESET*/
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper {
    width: min(75em, 100% - 2em);
    margin-inline: auto;
}

.menu {
    display: none;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #a89d9d;
    z-index: 20;
}
header .wrapper h1 {
    font-size: 2em;
}
header .wrapper h1 span {
    color: rgb(127, 104, 231);
}

header .wrapper nav {
    /* background-color: aqua; */
    display: flex;
    gap: 1.2rem;
}

header .wrapper .log-reg-btns {
    display: flex;
    gap: 1.2rem;
}

.btn {
    padding: .25em 1.5em;
    border-radius: 100em;
    font-size: .875em;
    font-weight: 700;
    border: none;
}

.btn-primary {
    background-color: #0D38F8;
    color: #FFFFFF;
}

.btn-secondary {
    background: none;
    border: 1px solid #000000;
}

.active {
    font-weight: 700;
    color: #0D38F8;
}

/* HERO SECTION STYLING */
.hero {
    margin-top: 8rem;
}
.hero .wrapper h2 {
    text-align: center;
    font-size: 4em;
    margin: 0;
}
.hero .wrapper p {
    color: gray;
    text-align: center;
}
.hero .wrapper .search-input {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.hero .wrapper .search-input input {
    font-size: 1.2em;
    outline: none;
    border: 1px solid rgb(128, 124, 124);
    padding: 0.5rem;
    width: 50%;
}
/* END OF HERO SECTION STYLING */

/* MAIN SECTION */
main .wrapper {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;
    gap: 2rem;
}

main .wrapper .latest-news-container{
    /* background-color: gray; */
    flex: 1;
}

main .wrapper .latest-news-container h2, main .wrapper .past-mixed-news-container .past-news-container h2 {
    font-size: 1.2em;
    font-family: sans-serif;
}

main .wrapper .latest-news-container .latest-news-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

main .wrapper .latest-news-container .latest-news-wrapper .latest-news {
    width: 200px;
    height: 300px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #FFFFFF;
}
main .wrapper .latest-news-container .latest-news-wrapper .latest-news::before {
  content: "";
  position: absolute;
  inset: 0; /* covers entire container */
  background: rgba(0, 0, 0, 0.5); /* semi-transparent black */
}


main .wrapper .latest-news-container .latest-news-wrapper .latest-news:hover {
    transform: scale(1.00987);
}
main .wrapper .latest-news-container .latest-news-wrapper .latest-news img{ 
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
 }
main .wrapper .latest-news-container .latest-news-wrapper .latest-news .news-content{ 
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-30%, -40%);
    border-radius: 10px;
}

main .wrapper .latest-news-container .latest-news-wrapper .latest-news .news-content a{ 
    background-color: rgb(41, 40, 40);
    padding: 10px;
    border-radius: 6px;
    color: white;
}

main .wrapper .past-mixed-news-container {
    /* background-color: #7a7777; */
    /* flex: 1; */
    width: 40%;
}

main .wrapper .past-mixed-news-container .past-news-container p{
    color: gray;

}

main .wrapper .past-mixed-news-container .past-news-container .past-news {
    /* background-color: #fa8b8b; */
    display: flex;
    margin-bottom: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

main .wrapper .past-mixed-news-container .past-news-container .past-news:hover {
    transform: scale(1.00987);
}
main .wrapper .past-mixed-news-container .past-news-container .past-news .image{
    width: 50%;
    border-radius: 8px;
    margin-right: 4px;
}

main .wrapper .past-mixed-news-container .past-news-container .past-news .image img{
    display: block;
    border-radius: 8px;
    height: 100%;
    object-fit: cover;
 }
/* END OF MAIN SECTION */
@media (max-width: 900px) {

    header .wrapper nav, header .wrapper .log-reg-btns {
        display: none;
    }

    .menu {
        display: block;
    }

    .content .nav {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .content {
        display: flex;
        justify-content: space-around;
    }

    .hero .wrapper h2 {
        font-size: 2em;
    }

    .hero .wrapper .search-input input {
        font-size: 1em;
    }
    
}

@media (max-width: 400px) { 
    main .wrapper .latest-news-container{
        flex: 1;
    }

    main .wrapper .past-mixed-news-container {
        flex: 1;
    }
}